@import "tailwindcss";

:root {
  --text: #374151;
  --bg: #f8fafc;
  --border: #e5e7eb;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  --success: #16a34a;
  --warning: #f59e0b;
  --danger: #dc2626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  font-family:
    Inter,
    system-ui,
    sans-serif;
}

#root {
  min-height: 100vh;
}